*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    /* background-color: black; */
}
.navbar-brand{
    color: black;
    font-weight: 700;
    font-size: 25px;
}
.navbar-brand span{
    color: rgb(2, 119, 119)
}
.fa-solid {
    font-size: 22px;
    margin: 0px 10px;
    margin-top: 5px;
}
.fa-solid:hover{
    color:rgb(2, 119, 119)
}
.hero{
    height: 100vh;
}
.logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 50px;
}
.logo span{
    color: rgb(2, 119, 119);
}
.form-dir{
    display: flex;
    justify-content: center;
    align-items: center;
}